<div class="card">
  <div class="card-block">
    <div class="row">

      <div class="col-md-1">
        <%= gravatar_for user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">


            <%= "User #: " + user.id.to_s + "  "  %>

            <% if user.display_name == nil %>
              <%= "Missing Display Name"  %>
            <% else %>
              <%= user.display_name  %>
            <% end %>




            <% if current_user.friendships.find_by(friend_id: user.id) != nil %>
              <%= link_to 'Remove', friendship_path(current_user.friendships.find_by(friend_id: user.id)), method: :delete, class: "btn btn-xs btn-danger" %>
              <br />
              <br />
            <% else %>
              <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post,  class: "btn btn-xs btn-primary" %>
              <br />
              <br />
            <% end %>






        </p>
      </div>

    </div>
  </div>
</div>
