<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Starter Template for Bootstrap</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'common/navbar' %>
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">


    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg %>
        <% end %>
      <% end %>

      <span>
         <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      </span>

      <%= yield %>


      <div id="mySidenav" class="sidenav">
        <span style="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</span>
        <% if current_user %>
            <a href="#"><%= link_to ('<i class="fa fa-cog"></i> Chats').html_safe, root_path, class: 'btn btn-xs btn-danger', title: 'Home' %></a>
            <a href="#"><%= link_to ('<i class="fa fa-user"></i> Edit Profile').html_safe, edit_user_registration_path, class: 'btn btn-xs btn-danger', title: 'Edit Profile' %></a>
            <a href="#"><%= link_to('Users', users_path, class: 'btn btn-xs btn-danger', title: 'Users')%></a>
            <a href="#"><%= link_to('Friends', friendships_path, class: 'btn btn-xs btn-danger', title: 'Friends')%></a>
            <a href="#"><%= link_to('Subscribed', subscribed_path, class: 'btn btn-xs btn-danger', title: 'Subscribed') %></a>
            <a href="#"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></a>
            <a href="#">Placeholder</a>
        <% else %>
          <a href="#"><%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %></a>
        <% end %>
      </div>

    </div>




</body>
</html>
