<p id="notice"><%= notice %></p>

<h1>Friendships for user #<%=current_user.id%>, email: <%= current_user.email %></h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friendship| %>
      <% if friendship.user_id == current_user.id && friendship.friend_id != current_user.id %>
        <tr>
          <td>
            <% if User.find(friendship.friend_id).display_name == nil %>
              <%= "Missing Display Name"  %>
            <% else %>
              <%= User.find(friendship.friend_id).display_name  %>
            <% end %>
          </td>
          <td><%= link_to 'Remove', friendship, method: :delete, class: 'btn btn-xs btn-danger'%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<a href="#"><%= link_to('Users Listing', users_path, class: 'btn btn-xs btn-primary', title: 'Users')%></a>
