<h1><%= @chat_room.title %></h1>



<!--  this is old enter chat -->
<%= form_for @message, url: '#' do |f| %>
  <div class="form-group"  class="col-sm-8">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>
  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>



<!-- this is the messages  -->
<!-- only 1 stream allowed apparently -->

<div class="container">
  <div id="messages" data-chat-room-id="<%= @chat_room.id %>" class="col-sm-8">
    <%= render @chat_room.messages.reverse %>
  </div>
  <div  div class="col-sm-4">
      <h3> subscribed users </h3>
      <ul>
        <% SubscribedChat.where(chat_room_id: @chat_room.id).each do |ss|   %>
        <li>
          <%= User.find_by(id: ss.user_id).display_name %>
        </li>
        <% end %>
      </ul>
  </div>
</div>
