
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <span>
        <%= link_to ("<i class='fa fa-cog' aria-hidden='true'></i>" +'   SampleChat').html_safe, root_path, class: "navbar-brand" %>
    </span>






    <div class="navbar-collapse collapse navbar-responsive-collapse" style="margin-bottom: 80x">
      <ul class="nav navbar-nav">


      </ul>

      <ul class="nav navbar-right col-md-4">
        <% if current_user %>
          <li class="col-md-8 user-name">

            <% if current_user.display_name != nil %>
              <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.display_name, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
            <% else %>
              <%= link_to ('<i class="fa fa-user"></i> ' + 'Please Enter A Display Name').html_safe, edit_user_registration_path, title: 'Edit Profile' %>
            <% end %>

          </li>
          <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
          <!-- <li class="col-md-3 logout">
            <%= link_to('Users', users_path, class: 'btn btn-xs btn-danger', title: 'Users')%>
          </li>
          <li class="col-md-3 logout">
            <%= link_to('Friends', friendships_path, class: 'btn btn-xs btn-danger', title: 'Friends')%>
          </li> -->
        <% else %>
          <li class="col-md-4 pull-right">
          <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
